.detailContainer{
  position:fixed;
  top:0;
  left:100vw;
/*   margin-top:-10561px; */
  z-index:100;
  width:100vw;
  height:100vh;
  background-color: red;
  transition:0.35s;
}
.detailContainerOn{
  left:0;
  transition:0.5s;
}
#firstpage{
  width:100vw;
  height:65vw;
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  background: linear-gradient(black, rgb(26, 11, 66))
}
.spaceMan{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin:5vw 0 0;
  height:80vw;
  transform: translateY(-10vw);
}
.topImage{
  margin: 3vw 0 0 0;
}
.imageParent{
  position: relative;
  transition:transform 0.5s;
}
.imageParent:hover{
  transform:scale(1.05);
}
.imageChild{
  position:absolute;
  top:0;
  left:0;
}
.imageParent > img {
  width: 35vw;
}
.bottomText{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  transform: translateY(35vw);
  z-index: 1;
  font-weight: 700;
  letter-spacing:0.25vw;
  text-shadow: 0.3vw 0.3vw 0px black;
}

#secondpage{
  width:100vw;
  height:60vw;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(rgb(26, 11, 66), rgb(32, 19, 81));
}
.secondPageText{
  display:flex;
  flex-direction:column;
  color:white;
  font-weight: 600;
  text-align: center;
}
.secondPageFirstText{
  flex:2;
  margin:6vw;
}
.secondPageSecondText{
  flex:8;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
/*   align-content:space-between; */
}
.secondPageHuman{
  padding-left:0.52vw;
}
.secondPageComputer{
  padding-right:4.3vw;
}
.secondPageInteraction{
  padding-left:4.2vw;
}

#thirdpage{
  width:100vw;
  height:140vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
/*   align-items:center; */
/*   background: linear-gradient(#1a0d41, #292574); */
}
.semiCircle{
  width: 100vw;
  height:50vw;
  border-bottom-left-radius: 50vw;
  border-bottom-right-radius: 50vw;
  background: linear-gradient(rgb(32, 19, 81), rgba(255, 255, 255, 0%));
}
.whatIsHCI{
  display:flex;
  flex-direction:column;
  color:white;
  text-align: center;
}
.HCIExample{
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:white;
}

.indentLeft {
  text-indent: 6vw;
  margin: 1vw;
}

.indentRight {
  text-indent: 36vw;
  margin: 1vw;
}
.HCIIfSpace{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center;
  color:white;
}
.thirdpagelasttext{
  font-weight: 600;
}
.thirdPagePicture{
  width:35vw;
  height:35vw;
  border-radius:20vw;
}

#fourthpage{
  width:100vw;
  height:80vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap: 15vw;
}
.fourthpagetitle{
  text-align: center;
  color:white;
  font-weight: 600;
}
.fourthPagePicture{
  height:35vw;
  margin-top:-10vw;
}
.fourthPagePicture:hover{
  transform:scale(1.03);
  transition:0.5s;
}
#fifthpage{
  width:100vw;
  height:100vw;
}

.hci-container-1 {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hci-1-left {
  flex: 7;
}

.hci-1-right {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hci-1-left-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left:-45px;
}

.hci-1-left-header-text {
  color: black;
  position: absolute;
  padding: 0 0 0 calc(13.5% + 4px);
}

.hci-1-left-header-banner {
/*   color: black; */
  color: rgba(255, 255, 255, 0);
  background-color: white;
  height: 50px;
  padding: 0 0 0 calc((12.5% * (10/7)) + 50px);
  transform: skewX(45deg) ;
}
.hci-1-left-container{
  margin:2% 0 0 8.25%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2em;
  overflow: hidden;
}
.hci-1-left-text{
  text-indent: 3em;
  margin:20px;
}

.pic {
  border-radius: 30px;
  width: 15vw;
  box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.3);
}
.hci-container-4 {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 100px;
}

.hci-4-left {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hci-4-right {
  flex: 7;
}

.hci-4-right-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right:-45px;
}

.hci-4-right-header-text {
  color: black;
  position: absolute;
  padding: 0 calc(10.75%) 0 0;
}

.hci-4-right-header-banner {
/*   color: black; */
  color: rgba(255, 255, 255, 0);
  background-color: white;
  height: 50px;
  padding: 0 0 0 calc((12.5% * (10/7)));
  transform: skewX(-45deg);
}
.hci-4-right-container{
  margin:2% 8.25% 0 0;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2em;
  overflow: hidden;
}
.hci-4-right-text{
  text-indent: 3em;
  margin:20px;
}
#sixthpage{
  width:100vw;
  height:20vw;
/*   display:flex; */
/*   flex-direction:column; */
/*   justify-content:center;
  align-items:center; */
}
.payOff{
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  margin-top:10vw;
}
.payOffText{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.payOffInvisibleText{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  opacity:0;
  transition:2s 2.5s;
  pointer-events:none;
}
.payOffButtonClass{
  display:flex;
  justify-content:center;
  align-items:center;
}
.payOffButton{
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 62.5px solid white;
  cursor:pointer;
/*   background-color:white; */
  transform:translateY(-225px);
  transition:2s;
}
.payOffVisibleText{
  opacity:1;
  pointer-events: auto;
}
.payOffVisibleButton{
  transform:translateY(0);
  margin-top:20px;
}
.imagePayOff{
  display:flex;
  justify-content:flex-end;
}
.imagePayOffSize{
  width:60vw;
}

#footer{
  width:100vw;
/*   height:12vw; */
  display:flex;
  flex-direction:column;
  background-color:black;
  padding: 0.75vw 0 1.5vw;
}
.credit{
  flex:7;
  display:flex;
  flex-direction:row;
}
/* .leftCredit{
  flex:3;
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  margin-left:2vw;
  margin-top:0.75vw;
} */
.logo{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap:5vw;
  margin-top:1vw;
}
.middleCredit{
  flex:4;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  color:white;
  margin-top:1vw;
  gap:5vw;
}

/* .rightCredit{
  flex:3;
  display:flex;
  justify-content:flex-end;
  align-items:flex-start;
  margin-top:1.25vw;
  margin-right:2vw;
} */
.imgFitIT{
  height:4vw;
/*   width:5vw; */
}
.imgFitSpace{
  height:3.25vw;
/*   width:12.5vw; */
}
.description{
  flex:3;
  color:white;
/*   margin:1vw; */
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0.5vw;
}
