#page1{
  width:100%;
/*   display:flex;
  flex-direction:column; */
  text-align:center;
  background-image:url(./images/พื้นหลังต้นไม้2.png);
}
.heroImg{
  height: 40vw;
  width: unset;
  margin-top: 30px;
}
#page2{
  width:100%;
/*   height:50vw; */
  background:black;
  background-image:url(./images/พื้นหลังต้นไม้2.png);
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding: 0 0 6vw;
}
.page2text{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin: 0 0 7vw;
}

#page3{
  width:100%;
  background: url(./images/newworld.gif);
  background-size:cover;
  height:37.5vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
}

#page4{
  width:100%;
  background:#000000;
  background-image:url(./images/พื้นหลังต้นไม้2.png);
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin: 10vw 0 0;
}

#page5{
  width:100%;
  background:#000000;
  background-image:url(./images/พื้นหลังต้นไม้2.png);
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin: 0 0 5vw;
}

#page6{
  width:100%;
  background:#000000;
  background-image:url(./images/พื้นหลังต้นไม้2.png);
  display:flex;
  flex-direction:row;
  justify-content:center;
}

#page7{
  width:100%;
  background:black;
  background-image:url(./images/พื้นหลังต้นไม้2.png);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
.humanimg{
  width:100vw;
  height:40vw;
  display:flex;
  justify-content:center;
}
.spaceMan{
  height:100%;
  width:45%;
}
#page8{
  width:100%;
  height:50vw;
  display:flex;
  flex-direction:row;
  justify-content:center;
  background-image:url(./images/space-hcibg.png);
  background-color:rgba(0, 0, 0, 0.7);
  background-size:100% 100%;
  background-blend-mode:saturation;
}

#page9{
  width:100%;
/*   background:black; */
  background-image:url(./images/พื้นหลังต้นไม้2.png);
  background-size:100% 150vw;
}
.LeftBox{
  display:flex;
  flex-direction:row;
  margin:2vw 0 2vw;
}
.RightBox{
  display:flex;
  flex-direction:row-reverse;
  margin:2vw 0 2vw;
}
.leftYellowBarContainer{
  flex:1;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  margin:0 2vw;
}
.rightYellowBarContainer{
  flex:1;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  margin:0 2vw;
}
.textContainer{
  flex:9;
  display:flex;
  flex-direction:column;
/*   align-items:center; */
  margin:0 2vw;
}
.communicationPicture{
  margin:0 6vw 12vw;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.picnic{
  width:30vw;
/*   height:30vw; */
  transform:rotate(4.94deg);
  margin-top:-3vw;
}
.picnano{
  margin: 5vw 10vw 8vw;
  width:18vw;
  height:18vw;
}
.picar{
  width:28vw;
  margin:3vw 0 6vw 0;
  margin-right:2vw;
/*   height:28vw; */
}
.payOff{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
}
.payOffClickHere:hover{
  animation: bodyfadein 1s linear infinite;
  cursor:pointer;
}
.payOffLinkCover{
  position:absolute;
  background-color:rgba(0, 0, 0, 1);
  background-image:url(./images/พื้นหลังต้นไม้2.png);
  width:60vw;
  height:12vw;
  background-blend-mode:lighten;
}
.payOffLinkCoverClicked{
  height:0;
  transition: 2s;
}
.payoffLinkAnimation{
  animation:payoffanim 2s linear infinite;
}
@keyframes payoffanim{
  0%{
    background: linear-gradient(to right,yellow, wheat);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50%{
    background: linear-gradient(to middle,yellow, wheat);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100%{
    background: linear-gradient(to left,yellow, wheat);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#page10{
  width:100%;
  text-align:center;
}

#footer{
  width:100%;
  background: black;
}
.logo{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap:5vw;
  margin-top:1vw;
}
.middleCredit{
  flex:4;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  color:white;
  margin-top:1vw;
  gap:5vw;
}
.imgFitIT{
  height:4vw;
/*   width:5vw; */
}
.imgFitSpace{
  height:3.25vw;
/*   width:12.5vw; */
}
.description{
  flex:3;
  color:white;
/*   margin:1vw; */
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0.5vw;
}
.hciImgDiv{
  width: 30vw;
}
.pictureleft{
  display:flex;
  flex-direction:row;
  margin-bottom: 6vw;

}
.pictureright{
  display:flex;
  flex-direction:row-reverse;
  margin-right:5vw;
  margin-bottom: 6vw;
}
.tab{
  position:fixed;
  left:98vw;
  top:0;
  width:10vw;
  height:10vw;
  background-color:yellow;
  transition: 0.35s;
  text-align:center;
}
.tab:hover{
  left:90vw;
}
.bottomImg{
  display:flex;
  align-items:center;
  justify-content:center;
  background-image:url(./images/พื้นหลังต้นไม้2.png);
  background-size:100% 50vw;
}
.bottomImg > img {
  height: 40vw;
  width: unset;
  margin: 0 0 4vw;
}
.audioButton{
  background-image:url(./images/soundplay.png);
  position:fixed;
  top:0;
  left:0;
  opacity:0.5;
  width:2vw;
  height:2vw;
  background-size:cover;
  margin:1vw 0 0 1vw;
  cursor:pointer;
}
.audioMuted{
  background-image:url(./images/soundmute.png);
}
.burger {
  transition: 0.25s;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.8vw;
  margin: 0.3vw;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  gap: 0.366666vw;
}
.burger:hover {
  padding: 0.8vw 0 0.8vw;
  margin-right: 0.8vw 0 0.8vw;
  gap:1vw;
}
.burger:hover > .linkbur{
  border-radius: 10000px 0 0 10000px;
  width: 15vw;
  height: 3vw;
}
.linkbur{
  transition: 0.25s;
  background-color: white;
  width:2vw;
  height: 0.3vw;
  display: flex;
  align-items: center;
  margin:0 0 0 2vw;
}
.aaa {
  position: absolute;
  opacity: 0;
  color: black;
}
.burger:hover > .linkbur > .aaa {
  opacity: 100%;
}